{{define "content"}}
<section class="hero">
    <div class="overlay">
        <h1>COMITE</h1>
    </div>
</section>

<section class="container">

    <div class="swiper mySwiper">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a href="/comite/presidente">
                    <img src="/static/images/presidente.jpg">
                    <p>Presidente</p>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="/comite/secretario">
                    <img src="/static/images/secretario.jpg">
                    <p>Secretario</p>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="/comite/tesoreria">
                    <img src="/static/images/contabilidad.jpg">
                    <p>Contabilidad</p>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="/comite/seguridad">
                    <img src="/static/images/seguridad_comite.jpg">
                    <p>Seguridad</p>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="/comite/servicios">
                    <img src="/static/images/servicios.jpg">
                    <p>Servicios</p>
                </a>
            </div>

        </div>

        <!-- Paginación -->
        <div class="swiper-pagination"></div>

    </div>

</section>


{{end}}