{{define "content"}}

<!-- HERO -->
<section class="hero">
    <div class="overlay">
        <h1>Oasis Residencial Pachuca</h1>
        <p>Todo lo que necesitas para vivir en armonía en este vecindario</p>
    </div>
</section>

<!-- SECCIONES -->
<section class="cards">

    <div class="card">
        <h3>Reglamento</h3>
        <p>Consulta las reglas del fraccionamiento</p>
    </div>

    <div class="card">
        <h3>Seguridad</h3>
        <p>Información importante para tu seguridad</p>
    </div>

    <div class="card">
        <h3>Transparencia</h3>
        <p>Consulta reportes y estados financieros</p>
    </div>

</section>

{{end}}