{{define "content"}}

<!-- HERO -->
<section class="hero">
    <div class="overlay">
        <h1>Oasis Residencial Pachuca</h1>
        <p>Todo lo que necesitas para vivir en armonía en este vecindario</p>
    </div>
</section>

<!-- SECCIONES -->

<!-- MENU PRINCIPAL -->
<section class="menu-grid">

    <a href="/reglamento" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/reglamento.png" alt="Reglamento">
            </div>
            <p>REGLAMENTO</p>
        </div>
    </a>

    <a href="/seguridad" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/seguridad.png" alt="Seguridad">
            </div>
            <p>SEGURIDAD</p>
        </div>
    </a>

    <a href="/transparencia" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/transparencia.png" alt="Transparencia e Informes">
            </div>
            <p>TRANSPARENCIA</p>
        </div>
    </a>

    <a href="/comite" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/comite.png" alt="Comité">
            </div>
            <p>COMITÉ</p>
        </div>
    </a>

    <a href="/anuncios" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/anuncios.png" alt="Anuncios">
            </div>
            <p>ANUNCIOS</p>
        </div>
    </a>

    <a href="/solicitudes" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/solicitudes.png" alt="Solicitudes">
            </div>
            <p>SOLICITUDES PARA RESIDENTES</p>
        </div>
    </a>

</section>
{{end}}