{{define "content"}}

<!-- HERO -->
<section class="hero">
    <div class="overlay">
        <h1>Oasis Residencial Pachuca</h1>
        <p>Todo lo que necesitas para vivir en armonía en este vecindario</p>
    </div>
</section>

<!-- SECCIONES -->

<!-- MENU PRINCIPAL -->
<section class="menu-grid">

    <a href="/reglamento" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/reglamento.png" alt="Reglamento">
            </div>
            <p>REGLAMENTO</p>
        </div>
    </a>

    <a href="/seguridad" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/seguridad.png" alt="Seguridad">
            </div>
            <p>SEGURIDAD</p>
        </div>
    </a>

    <a href="/transparencia" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/transparencia.png" alt="Transparencia e Informes">
            </div>
            <p>TRANSPARENCIA</p>
        </div>
    </a>

    <a href="/comite" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/comite.png" alt="Comité">
            </div>
            <p>COMITÉ</p>
        </div>
    </a>

    <a href="/anuncios" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/anuncios.png" alt="Anuncios">
            </div>
            <p>ANUNCIOS</p>
        </div>
    </a>

    <a href="/solicitudes" class="menu-link">
        <div class="menu-item">
            <div class="menu-img">
                <img src="/static/images/solicitudes.png" alt="Solicitudes">
            </div>
            <p>SOLICITUDES PARA RESIDENTES</p>
        </div>
    </a>

</section>

<section class="map-section">
    <div class="container">
        <h2>Ubicación</h2>
        <p>Encuentra fácilmente Oasis Residencial en el mapa</p>

        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1873.9554863240814!2d-98.7934226724503!3d20.05417139975906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a17a1b8bb701%3A0x9e8b56eb47e8fee4!2sOasis%20Residencial.!5e0!3m2!1ses!2smx!4v1775967901872!5m2!1ses!2smx"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

{{end}}