{{define "layout"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis Residencial Pachuca</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <a href="/">Inicio</a>
        <a href="/solicitudes">Solicitudes</a>
        <a href="/transparencia">Transparencia</a>
        <a href="/reglamento">Reglamento</a>
        <a href="/anuncios">Anuncios</a>
        <a href="/privacidad">Privacidad</a>

        <div class="menu-group">
            <div class="menu-title">
                <a href="/comite">Comité</a>
            </div>
            <div class="submenu">
                <a href="/comite/presidente">Presidente</a>
                <a href="/comite/secretario">Secretario</a>
                <a href="/comite/contabilidad">Contabilidad</a>
                <a href="/comite/seguridad">Seguridad</a>
                <a href="/comite/servicios">Servicios</a>
            </div>
        </div>

    </div>

    <!-- NAVBAR -->
    <nav class="navbar">

        <div class="left">
            <button class="menu-btn" onclick="toggleMenu()">☰</button>

            <a href="/" class="logo">
                <img src="/static/images/logo.png" alt="logo">
                <span>Oasis Residencial Pachuca</span>
            </a>
        </div>

    </nav>

    {{template "content" .}}
    <script src="/static/js/menu.js?v=2"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/slider.js"></script>
</body>

</html>
{{end}}