{{define "content"}}

<section class="hero">
    <div class="overlay">
        <h1>Aviso de privacidad</h1>
    </div>
</section>

<section class="container">
    <h2>Aviso de privacidad Oasis Residencial</h2>

    <p>
        En cumplimiento con la Ley Federal de Protección de Datos Personales...
    </p>

    En cumplimiento con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, se informa lo siguiente: Responsable del tratamiento de los datos personales El responsable del tratamiento de los datos personales
    recabados a través del presente formulario es la Administración / Comité del Fraccionamiento Oasis Residencial, ubicado en Pachuca, Hidalgo. Datos personales que se recaban Los datos personales que se solicitan en los distintos formularios formulario
    son: Nombre completo Correo electrónico Número de lote Número telefónico No se recaban datos personales sensibles. Finalidad del tratamiento de los datos Los datos personales proporcionados serán utilizados única y exclusivamente para las siguientes
    finalidades: Verificar la identidad del solicitante Validar la pertenencia al fraccionamiento Gestionar y autorizar el acceso a la visualización de las cámaras de seguridad del Fraccionamiento Oasis Residencial Establecer comunicación relacionada
    con dicha solicitud Transferencia de datos Sus datos personales no serán compartidos, transferidos ni vendidos a terceros ajenos a la administración del fraccionamiento, salvo obligación legal o requerimiento de autoridad competente. Medios para
    ejercer derechos ARCO El titular de los datos personales podrá ejercer en cualquier momento sus derechos de Acceso, Rectificación, Cancelación u Oposición (ARCO), así como revocar su consentimiento, enviando una solicitud al correo electrónico o
    mensaje telefónico/whatsapp de contacto de la administración del fraccionamiento, indicando su nombre completo y el derecho que desea ejercer. Conservación de los datos Los datos personales serán conservados únicamente durante el tiempo necesario
    para cumplir con la finalidad para la cual fueron recabados y posteriormente serán eliminados de forma segura. Cambios al aviso de privacidad El presente aviso de privacidad puede ser modificado o actualizado en cualquier momento. Cualquier cambio
    será informado por los medios de contacto proporcionados. Consentimiento Al enviar este formulario, el titular acepta y consiente el tratamiento de sus datos personales conforme a los términos del presente Aviso de Privacidad.


</section>

{{end}}