{{define "content"}}

<section class="hero">
    <div class="overlay">
        <h1>Seguridad</h1>
    </div>
</section>

<section class="seguridad-container">

    <p class="seguridad-intro">
        En esta sección encontrarás guías de como se debe manejar la seguridad del fraccionamiento así como prácticas para el uso de herramientas y accesos..
    </p>

    <!-- ===================== CAMARAS ===================== -->
    <div class="seguridad-bloque">

        <h2>Acceso a cámaras (EZVIZ)</h2>

        <p class="seguridad-texto">
            El acceso a las cámaras del fraccionamiento se realiza a través de la aplicación EZVIZ. Una vez que la administración te comparta el acceso, deberás aceptarlo desde la aplicación para poder visualizar las cámaras.
        </p>

        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/E7T_tudzdj0" title="EZVIZ acceso cámaras" allowfullscreen>
            </iframe>
        </div>

    </div>

</section>

{{end}}